
.. |rsp| replace:: `Rubin Science Platform <{{ urls.squareone }}>`__
{% if primary %}
.. |rsp-at| replace:: `Rubin Science Platform <{{ urls.squareone }}>`__
{% else %}
.. |rsp-at| replace:: `Rubin Science Platform at the {{ name }} <{{ urls.squareone }}>`__
{% endif %}
.. |rsp-env| replace:: {{ name }}
.. |rsp-env-link| replace:: `{{ name }} <{{ urls.squareone }}>`__
.. |log-in| replace:: `Log into the Notebook Aspect <{{ urls.nb }}>`__
.. |open-nb-aspect| replace:: `Open the Notebook Aspect <{{ urls.nb }}>`__
